[project]
	description = Hello world
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/exsdyy
[access "refs/for/refs/*"]
	read = group user/exsdyy
	push = group user/exsdyy
	label-Code-Review = -2..+2 group user/exsdyy
	label-Verified = -1..+1 group user/exsdyy
	rebase = group user/exsdyy
	removeReviewer = group user/exsdyy
	submit = group user/exsdyy
[access "refs/heads/*"]
	read = group user/exsdyy
	create = group user/exsdyy
	push = +force group user/exsdyy
	pushMerge = group user/exsdyy
[access "refs/tags/*"]
	push = +force group user/exsdyy
	pushTag = group user/exsdyy
	pushSignedTag = group user/exsdyy
